In [2]:
%%capture
%pip install pyspark
import pandas as pd
# import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [14]:
# df = pd.read_csv('sss08pus_Idaho.csv')
files = ['E:/Personal Projects/SQL Database Data/Data/sss08pusa.csv','E:/Personal Projects/SQL Database Data/Data/sss08pusb.csv','E:/Personal Projects/SQL Database Data/Data/sss08pusc.csv','E:/Personal Projects/SQL Database Data/Data/sss08pusd.csv']
def get_dataframe():
    df = spark.read.csv(files,header=True,inferSchema=True)
    return df

### Noteable Items
- Yearly Food Stamp Recipient (FD), Yes/No
- Bedrooms (BDS)
- Unites in structure (BLD)
- Electricity Monthly Cost (ELEP)
- Condo Fee-Monthly amount (CONP)
- Mobile home costs (yearly amount) (MHP)
- Mortgage payment (monthly amount) (MRGP)
- Mortgage status (MRGX)
- Rooms (RMS)
- Monthly Rent (RNTP)
- Gross rent as a percentage of household income (GRPIP)
- Household income (past 12 months) (HINCP)
- Grade level attending (SCHG)
- Educational attainment (SCHL)

In [15]:
df = get_dataframe()

In [ ]:
df.select('GRPIP').show(3)#.distinct().show(2)

In [19]:
# HINCP
# df['POBP']==16
mean_wage = df[df['ST']<57].groupBy(df['ST']).mean('WAGP').
# df.dtypes

In [21]:
from imports import STATE_MAPS
mean_wage.replace(STATE_MAPS).show()

ValueError: Mixed type replacements are not supported